.upload{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 92.5vh;
}
.container {
    border: 3px dashed black;
    width: 40%;
}
.dropzone{
    height: 200px;
    width: 100%;   
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
